---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Beranda";

---
<BaseLayout pageTitle={pageTitle}>
  <div class="min-h-screen min-w-full bg-i-main text-white flex items-center justify-center text-center flex-col">
    Bismillah, website Pondok Pesantren Imam Marzuki Giriwoyo sedang dibangun

    <br>

    Mohon doanya

    <div class="mt-4">
      Informasi:
    </div>
    <div class="font-medium underline hover:text-yellow-50">
      <a href="/penerimaan-santri-baru-angkatan-ke-5" rel="noopener noreferrer">
        Penerimaan Santri Baru Angkatan Kelima
      </a>
    </div>
  </div>
</BaseLayout>
