---
import BaseLayout from '../layouts/BaseLayout.astro'
import Banner from '../assets/images/penerimaan-santri-angkatan-5.jpeg'
import { Image } from 'astro:assets'

const pageTitle = 'Penerimaan Santri Baru Angkatan Kelima'
---
<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-[1024px] mx-auto">
    <div class="text-[#333] pb-10">
    <div class="min-w-full flex items-center justify-center text-center py-8">
      <div>
        <div>
          <h1 class="text-xl block font-bold">Penerimaan Santri Baru Angkatan Ke 5</h1>
        </div>
        <div class="mt-2">
          <h3>Tahun pendidikan 1445-1446 H / 2024-2025 M</h3>
        </div>
      </div>
    </div>
    <div class="container p-4 md:p-0 mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="col-span-2">
          <div class="text-left">
            <div>Kuota : <strong>20 Orang</strong></div>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-lg">Program Pendidikan</h3>
            <p class="">
              Ponpes Imam Marzuki adalah lembaga pendidikan Bahasa Arab & Ilmu Syar'i. Masa belajar ditempuh selama 3
              tahun
              dengan 2 tahun masa <i>I'dad Lughowi</i> (persiapan bahasa) & 1 tahun pendalaman Ilmu Syar'i. Adapun
              materi
              pembelajaran diambil dari kitab-kitab para ulama berbahasa Arab meliputi disiplin ilmu Nahwu, Sharf,
              Balaghah,
              Aqidah, Fiqih, Ushul Fiqh, Qowaid Fiqh, Sirah, Hadits, Mustholah Hadits, Ulumul Qur'an dll.
            </p>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-lg">Persyaratan Umum</h3>
            <ol class="list-decimal pl-6 pt-2">
              <li>Laki-laki.</li>
              <li>Mampu membaca Al Qur'an dengan baik dan benar.</li>
              <li>Lulus SMP/SMA/Sederajat.</li>
              <li>Usia maksimal 30 tahun saat menjadi santri.</li>
              <li>Belum menikah dan bersedia tidak menikah selama masa pendidikan.</li>
              <li>Memiliki kemauan yang kuat dan semangat yang tinggi untuk belajar Agama Islam.</li>
              <li>Melengkapi berkas pendaftaran :
                <ol class="list-[lower-alpha] pl-6">

                  <li>Fotokopi KTP 2 lembar (bagi yang sudah memiliki).</li>
                  <li>Fotokopi KK 2 lembar.</li>
                  <li>Fotokopi Ijazah / Surat Keterangan Lulus dari lembaga belajar.</li>
                  <li>Foto berwarna 3x4 5 lembar.</li>
                </ol>
              </li>
            </ol>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-lg">Waktu Pendaftaran</h3>
            <p>Pendaftaran dibuka mulai <strong>Januari 2024</strong> dan ditutup saat kuota terpenuhi.</p>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-lg">Biaya Pendidikan</h3>
            <table class="table-auto w-full border-collapse mt-2">
              <tr>
                <td class="border px-2 py-1 md:px-8 md:py-4 font-medium">Kitab</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">Rp. 500.000</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">per semester</td>
              </tr>
              <tr>
                <td class="border px-2 py-1 md:px-8 md:py-4 font-medium">SPP</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">Rp. 100.000</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">per bulan</td>
              </tr>
              <tr>
                <td class="border px-2 py-1 md:px-8 md:py-4 font-medium">Sarpras</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">Rp. 3.000.000</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">sekali</td>
              </tr>
              <tr>
                <td class="border px-2 py-1 md:px-8 md:py-4 font-medium">Uang Makan</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">Gratis</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">-</td>
              </tr>
              <tr>
                <td class="border px-2 py-1 md:px-8 md:py-4 font-medium">Uang Pangkal</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">Gratis</td>
                <td class="border px-2 py-1 md:px-8 md:py-4">-</td>
              </tr>
            </table>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-lg">Program Mustami'</h3>
            <p class="">Adalah program yang disediakan bagi mereka yang ingin bergabung belajar bersama para
              santri namun sudah menikah atau bekerja sehingga tidak bisa bermukin di pondok.</p>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-lg">Informasi dan Pendaftaran</h3>
            <div class="py-3">💬 Whatsapp</div>
            <div><a class="cursor-pointer italic underline hover:bg-green-200" href="https://wa.me/6282137554932"
                target="_blank">082137554932 (Ust. Bagas Susilo)</a></div>
            <div><a class="cursor-pointer italic underline hover:bg-green-200" href="https://wa.me/6289690589922"
                target="_blank">089690589922 (Bimo Eko N)</a></div>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-lg">Alamat Pesantren</h3>
            <div class="font-medium py-3">Pondok Pesantren Imam Marzuki</div>
            <p class="">Kompleks Masjid An Nuur</p>
            <p class="">Desa Sejati, Kecamatan Giriwoyo, Kabupaten Wonogiri</p>
            <p class="">Jawa Tengah - 57675</p>
          </div>
          <div class="mt-6">
            
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d304.56393287946366!2d110.9109369183228!3d-8.019762111628358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7bd183f730bc13%3A0xaffe0976d96a7d84!2sImam%20Marzuki%20Islamic%20Boarding%20School!5e0!3m2!1sen!2sid!4v1714330121684!5m2!1sen!2sid"
               style="border:0;" width="100%" height="300" allowfullscreen="true" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div>
          <div class="mt-6">
            <Image alt="Informasi Pendaftaran Santri Pondok Pesantren Imam Marzuki" class="h-[600px]" src={Banner}/>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</BaseLayout>

